*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: myfont;
    list-style-type: none;
}

:root {
    --Dark-Mode-Elements: hsl(200, 25%, 20%);
    --VeryDark-Mode-Background: hsl(205, 25%, 15%);
    --VeryLight-Mode-Text: hsl(200, 15%, 10%);
    --Light-Mode-Input: hsl(0, 0%, 50%);
    --Light-Mode-Background: hsl(0, 0%, 95%);
    --white: hsl(0, 0%, 100%);
    --rounded: 5px;
    --corner: .5rem;
    --light: 2px 0 10px 2px hsla(0, 0%, 0%, 0.4);
}

@font-face {
    font-family: myfont;
    src: url(./assets/fonts/font2/static/HankenGrotesk-Medium.ttf);
}

.background.dark{
    background: var(--VeryDark-Mode-Background);
    color: var(--white);
}

.element.dark {
    background: var(--Dark-Mode-Elements);
    color: var(--white);
}

nav.element{
    letter-spacing: 2px;
    box-shadow: var(--light);
    background: var(--white);
    position: fixed;
    width: 100%;
    padding-block: 3svh;
}
header{
    position: fixed;
    margin-top:9svh;
    width: 100%;
}
.dark-mode-toggle-btn{
    letter-spacing: 2px;
}

nav,
.search-container {
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}
@media only screen and (width<500px) {
    .search-container {
        flex-direction: column;
    }

    .filter {
        margin-top: 4%;
        flex: 1;
        min-width: 50%;
    }

    .search {
        padding: 2% 0;
    }
}

.dark-mode-toggle-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding-left: 10px;
}

.search {
    min-width: 45%;
    border-radius: var(--corner);
    align-items: center;
    display: flex;
    justify-content: space-around;
    box-shadow: var(--light);
    background: var(--white);
}
input#search-input{
    color: var(--Light-Mode-Input);
    cursor: pointer;
}

.search>* {
    padding-inline: 4%;
}

.search-container>.search input {
    border: none;
    border-radius: inherit;
    background: transparent;
    flex: 1;
    text-indent: 10px;
}

.search input:focus {
    border: none;
    outline: none;
}

.search:has(input:focus) {
    outline: 2px solid #fff;
}

.filter {
    position: relative;
    width: clamp(20ch, 20%, 100px);
    cursor: pointer;
}

.filter>.select {
    position: relative;
    box-shadow: var(--light);
    width: 100%;
    margin-bottom: 5%;
    border-radius: var(--rounded);
    padding: 6%;
    cursor: pointer;
    backdrop-filter: blur(10px);
}

.options {
    background: var(--white);
    position: absolute;
    width: 100%;
    overflow: hidden;
    scale: 0;
    height: 0;
    transition: scale 200ms;
    border-radius: var(--rounded);
    padding: 0 4%;
    box-shadow: var(--light);
}

.option {
    padding: 4% 0;
}

.select:hover+.options {
    scale: 1;
    height: auto;
    cursor: pointer;
}

main {
    padding-top: 1px;
    min-height: 80svh;
}

main>.cards-container {
    padding-top: 1px;
    margin-top: 30svh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2%;
}

.card {
    min-height: fit-content;
    min-width: 250px;
    max-width: 100svw;
    width: 15svw;
    margin-bottom: 4%;
    border-radius: var(--corner);
    cursor: pointer;
    box-shadow: var(--light);
}

.card-img,
.card-description {
    width: 100%;
    height: 25svh;
    border-radius: inherit;
}

.card-img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: linear-gradient(to bottom right, red 30%, purple 70%);
}

.card-img>img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: inherit;
    z-index: 3;
}
.card-description {
    padding: 5%;
    font-size: 1rem;
    font-weight: lighter;
    left: 3px;
}

.card-description .name {
    font-size: 1.4rem;
    font-weight: 400;
    margin-block-end: 5%;
}